.header{
    font-size: 25px;
}


body{
    background-size: cover;
    background-position: center;
}

.link {
    font-size: 20px;
    background: rgb(191, 63, 63);
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;
}

